Repository MikhailovAlexander/algorithms_bi_21, pull requests merged in 2022-10, with the labels that each got.

#32 team_pink_manual_task_4_bi
  tasks.md
Labels: pink team, task 4

#33 green_team_manual_task_4_bi
  tasks.md
Labels: green team, task 4

#35 Blue manual task 4 bi
  tasks.md
Labels: blue team, task 4

#37 Yellow manual task 4 bi
  tasks.md
Labels: yellow team, task 4

#43 условия задачи
  tasks.md
Labels: orange team, task 4

#44 White to spirits
  FromWhiteToSpirits.md
Labels: spirits team, task 4

#48 Team pink manual task 4 bi
  pinkteam (3).md
Labels: pink team, task 4

#52 White
  White.md
Labels: white team, task 4

#53 Yellow manual task 4 bi
  yellow_from_orange_task_4_alg
Labels: yellow team, task 4

#51 black
  black_team_solution.md
Labels: black team, task 4

#54 Create orange_from_black_solution
  orange_from_black_solution
Labels: orange team, task 4
