Repository MikhailovAlexander/algorithms_bi_21, pull requests merged in 2022-11, with the labels that each got.

#55 green_team_solution
  green_team_solution.md
Labels: green team, manual, task 5

#57 white team
  white_team_solution.md
Labels: white team, manual, task 5

#59 Pink team task 5 bi
  pink_teeam_task_5_bi_solution.md
Labels: pink team, manual, task 5

#62 Задание 5
  spirits_manual_task_5_bi.md
Labels: spirits team, manual, task 5

#66 red_team_solution
  red_team_solution.md
Labels: red team, manual, task 5

#68 Purple team manual task 5 bi
  purple_team_manual_task_5_bi.md
Labels: purple team, manual, task 5
